<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>ktmorz</string>
	<key>authorLongName</key>
	<string>Katie Morzinski</string>
	<key>commentUID</key>
	<string>groups/clio2usermanual/discussion/f0e64</string>
	<key>content</key>
	<string>

&lt;h1&gt;clio_20141118_19&lt;/h1&gt;

&lt;div&gt; 
 &lt;h2&gt;FITS Files:&lt;/h2&gt;&lt;/div&gt;&lt;br class="" /&gt;

&lt;div&gt; 
 &lt;h2&gt;File Listing:&lt;/h2&gt;&lt;/div&gt;

&lt;div&gt;Get this table as a text file:&lt;/div&gt;

&lt;table class="data __useTableEditor"&gt;&lt;tbody&gt;
  &lt;tr&gt;
    
   &lt;th&gt;TimeStamp &lt;/th&gt;
    
   &lt;th&gt; FileName &lt;/th&gt;
    
   &lt;th&gt; Filter &lt;/th&gt;
    
   &lt;th&gt; Camera &lt;/th&gt;
    
   &lt;th&gt; Nx &lt;/th&gt;
    
   &lt;th&gt; Ny &lt;/th&gt;
    
   &lt;th&gt; Nz &lt;/th&gt;
    
   &lt;th&gt; Int [ms] &lt;/th&gt;
    
   &lt;th&gt; Number of Coadds &lt;/th&gt;
    
   &lt;th&gt; Counts per Coadd &lt;/th&gt;
    
   &lt;th&gt; Detector Temp [K] &lt;/th&gt;
    
   &lt;th&gt; Optics Temp [K]&lt;/th&gt;
    
  &lt;/tr&gt;

  &lt;tr&gt;
    
   &lt;td&gt;2014-11-18T22:47:59 &lt;/td&gt;
    
   &lt;td&gt; test00001 &lt;/td&gt;
    
   &lt;td&gt; J &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5605 &lt;/td&gt;
    
   &lt;td&gt; 53.2390 &lt;/td&gt;
    
   &lt;td&gt; 77.9510 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:28 &lt;/td&gt;
    
   &lt;td&gt; Darks00001 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 50 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5554 &lt;/td&gt;
    
   &lt;td&gt; 53.3790 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:29 &lt;/td&gt;
    
   &lt;td&gt; Darks00002 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 50 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5600 &lt;/td&gt;
    
   &lt;td&gt; 53.3790 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:31 &lt;/td&gt;
    
   &lt;td&gt; Darks00003 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 50 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5626 &lt;/td&gt;
    
   &lt;td&gt; 53.3790 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:32 &lt;/td&gt;
    
   &lt;td&gt; Darks00004 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 50 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5640 &lt;/td&gt;
    
   &lt;td&gt; 53.3790 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:34 &lt;/td&gt;
    
   &lt;td&gt; Darks00005 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 50 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5648 &lt;/td&gt;
    
   &lt;td&gt; 53.3790 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:35 &lt;/td&gt;
    
   &lt;td&gt; Darks00006 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 50 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5653 &lt;/td&gt;
    
   &lt;td&gt; 53.3790 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:37 &lt;/td&gt;
    
   &lt;td&gt; Darks00007 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 50 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5655 &lt;/td&gt;
    
   &lt;td&gt; 53.3790 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:38 &lt;/td&gt;
    
   &lt;td&gt; Darks00008 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 50 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5657 &lt;/td&gt;
    
   &lt;td&gt; 53.3790 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:39 &lt;/td&gt;
    
   &lt;td&gt; Darks00009 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 50 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5656 &lt;/td&gt;
    
   &lt;td&gt; 53.3790 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:41 &lt;/td&gt;
    
   &lt;td&gt; Darks00010 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 50 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5657 &lt;/td&gt;
    
   &lt;td&gt; 53.3790 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:52 &lt;/td&gt;
    
   &lt;td&gt; Darks00011 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 5 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5469 &lt;/td&gt;
    
   &lt;td&gt; 53.3790 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:53 &lt;/td&gt;
    
   &lt;td&gt; Darks00012 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 5 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5512 &lt;/td&gt;
    
   &lt;td&gt; 53.3790 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:53 &lt;/td&gt;
    
   &lt;td&gt; Darks00013 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 5 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5543 &lt;/td&gt;
    
   &lt;td&gt; 53.3790 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:54 &lt;/td&gt;
    
   &lt;td&gt; Darks00014 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 5 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5566 &lt;/td&gt;
    
   &lt;td&gt; 0.00000 &lt;/td&gt;
    
   &lt;td&gt; 0.00000 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:55 &lt;/td&gt;
    
   &lt;td&gt; Darks00015 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 5 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5580 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:56 &lt;/td&gt;
    
   &lt;td&gt; Darks00016 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 5 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5591 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:56 &lt;/td&gt;
    
   &lt;td&gt; Darks00017 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 5 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5601 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:57 &lt;/td&gt;
    
   &lt;td&gt; Darks00018 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 5 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5606 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:58 &lt;/td&gt;
    
   &lt;td&gt; Darks00019 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 5 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5611 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:26:59 &lt;/td&gt;
    
   &lt;td&gt; Darks00020 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 5 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5615 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:27:09 &lt;/td&gt;
    
   &lt;td&gt; Darks00021 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5177 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:27:10 &lt;/td&gt;
    
   &lt;td&gt; Darks00022 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5218 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:27:11 &lt;/td&gt;
    
   &lt;td&gt; Darks00023 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5247 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:27:12 &lt;/td&gt;
    
   &lt;td&gt; Darks00024 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5266 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:27:13 &lt;/td&gt;
    
   &lt;td&gt; Darks00025 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5276 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:27:14 &lt;/td&gt;
    
   &lt;td&gt; Darks00026 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5286 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:27:15 &lt;/td&gt;
    
   &lt;td&gt; Darks00027 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5291 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:27:16 &lt;/td&gt;
    
   &lt;td&gt; Darks00028 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5298 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:27:17 &lt;/td&gt;
    
   &lt;td&gt; Darks00029 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5299 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T09:27:18 &lt;/td&gt;
    
   &lt;td&gt; Darks00030 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5301 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8680 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T20:27:49 &lt;/td&gt;
    
   &lt;td&gt; Darks00031 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 750 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6672 &lt;/td&gt;
    
   &lt;td&gt; 53.4990 &lt;/td&gt;
    
   &lt;td&gt; 77.8610 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T20:28:10 &lt;/td&gt;
    
   &lt;td&gt; Darks00032 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 750 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6655 &lt;/td&gt;
    
   &lt;td&gt; 53.4990 &lt;/td&gt;
    
   &lt;td&gt; 77.8610 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T20:28:32 &lt;/td&gt;
    
   &lt;td&gt; Darks00033 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 750 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6631 &lt;/td&gt;
    
   &lt;td&gt; 53.4990 &lt;/td&gt;
    
   &lt;td&gt; 77.8620 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T20:28:53 &lt;/td&gt;
    
   &lt;td&gt; Darks00034 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 750 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6609 &lt;/td&gt;
    
   &lt;td&gt; 53.4990 &lt;/td&gt;
    
   &lt;td&gt; 77.8620 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T20:29:15 &lt;/td&gt;
    
   &lt;td&gt; Darks00035 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 750 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6587 &lt;/td&gt;
    
   &lt;td&gt; 0.00000 &lt;/td&gt;
    
   &lt;td&gt; 0.00000 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T20:29:36 &lt;/td&gt;
    
   &lt;td&gt; Darks00036 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 750 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6566 &lt;/td&gt;
    
   &lt;td&gt; 53.4970 &lt;/td&gt;
    
   &lt;td&gt; 77.8630 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T20:29:57 &lt;/td&gt;
    
   &lt;td&gt; Darks00037 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 750 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6548 &lt;/td&gt;
    
   &lt;td&gt; 53.4970 &lt;/td&gt;
    
   &lt;td&gt; 77.8630 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T20:30:19 &lt;/td&gt;
    
   &lt;td&gt; Darks00038 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 750 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6531 &lt;/td&gt;
    
   &lt;td&gt; 53.4930 &lt;/td&gt;
    
   &lt;td&gt; 77.8640 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T20:30:40 &lt;/td&gt;
    
   &lt;td&gt; Darks00039 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 750 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6516 &lt;/td&gt;
    
   &lt;td&gt; 53.4930 &lt;/td&gt;
    
   &lt;td&gt; 77.8640 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-19T20:31:02 &lt;/td&gt;
    
   &lt;td&gt; Darks00040 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 750 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6500 &lt;/td&gt;
    
   &lt;td&gt; 53.4930 &lt;/td&gt;
    
   &lt;td&gt; 77.8640 &lt;/td&gt;
    
  &lt;/tr&gt;
&lt;/tbody&gt;&lt;/table&gt;
      
</string>
	<key>createdDate</key>
	<string>2015-01-14 19:34:13.336769+00:00</string>
	<key>deleted</key>
	<false/>
	<key>disabled</key>
	<integer>0</integer>
	<key>edited</key>
	<true/>
	<key>entityPath</key>
	<string>groups/clio2usermanual</string>
	<key>kind</key>
	<string>wiki</string>
	<key>lastModifiedAuthor</key>
	<string>ktmorz</string>
	<key>lastRelatedActivityAuthor</key>
	<string>ktmorz</string>
	<key>lastRelatedActivityDate</key>
	<string>2015-01-14 19:41:42</string>
	<key>lastVersion</key>
	<string>6</string>
	<key>latestVersion</key>
	<string>5</string>
	<key>modifiedDate</key>
	<date>2015-01-14T19:44:24Z</date>
	<key>tags</key>
	<array>
		<string></string>
	</array>
	<key>title</key>
	<string>Calibration Data clio_20141118_19</string>
	<key>tombstoned</key>
	<false/>
	<key>uid</key>
	<string>groups/clio2usermanual/wiki/f0e64</string>
	<key>versioned</key>
	<integer>1</integer>
</dict>
</plist>
