<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>ktmorz</string>
	<key>authorLongName</key>
	<string>Katie Morzinski</string>
	<key>commentUID</key>
	<string>groups/clio2usermanual/discussion/5c677</string>
	<key>content</key>
	<string>
&lt;h2&gt;&lt;a href="/groups/clio2usermanual/wiki/70bc5/Clio2_PreShip_Review_Documentation.html"&gt;Clio2 Pre-Ship Review Documentation&lt;/a&gt;&lt;br class="" /&gt;&lt;/h2&gt;
&lt;p&gt;&lt;/p&gt;
&lt;h2&gt;&lt;a href="/groups/clio2usermanual/wiki/ed3d0/MMT_Clio_Information.html"&gt;MMT Clio Information&lt;/a&gt;&lt;/h2&gt;
&lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt;
&lt;h2&gt;Clio Instrument Papers&lt;/h2&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/51d89/Freed2004.pdf.png" alt="Download file &amp;quot;Freed2004.pdf&amp;quot;" title="Download file &amp;quot;Freed2004.pdf&amp;quot;" class="attachment_handle_img quicklookable" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/51d89/Freed2004.pdf" /&gt; Instrument Design Paper&lt;br class="" /&gt;&lt;/div&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/d339a/Sivanandam2006.pdf.png" alt="Download file &amp;quot;Sivanandam2006.pdf&amp;quot;" title="Download file &amp;quot;Sivanandam2006.pdf&amp;quot;" class="attachment_handle_img quicklookable" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/d339a/Sivanandam2006.pdf" /&gt; Instrument Performance Paper&lt;/div&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/1c76a/Heinze2006.pdf.png" alt="Download file &amp;quot;Heinze2006.pdf&amp;quot;" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/1c76a/Heinze2006.pdf" class="attachment_handle_img quicklookable" title="Download file &amp;quot;Heinze2006.pdf&amp;quot;" /&gt; High Contrast Performance&lt;br class="" /&gt;&lt;/div&gt;&lt;br class="" /&gt;
&lt;h2&gt;Clio Science Papers&lt;/h2&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/2a46e/Hinz2006.pdf.png" alt="Download file &amp;quot;Hinz2006.pdf&amp;quot;" title="Download file &amp;quot;Hinz2006.pdf&amp;quot;" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/2a46e/Hinz2006.pdf" class="attachment_handle_img quicklookable" /&gt; Constraints on a companions to Vega&lt;br class="" /&gt;&lt;/div&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/9970f/Kenworthy2007.pdf.png" alt="Download file &amp;quot;Kenworthy2007.pdf&amp;quot;" title="Download file &amp;quot;Kenworthy2007.pdf&amp;quot;" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/9970f/Kenworthy2007.pdf" class="attachment_handle_img quicklookable" /&gt; First Coronagraphic Phase Plate on-sky results&lt;br class="" /&gt;&lt;/div&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/59783/Heinze2008.pdf.png" alt="Download file &amp;quot;Heinze2008.pdf&amp;quot;" title="Download file &amp;quot;Heinze2008.pdf&amp;quot;" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/59783/Heinze2008.pdf" class="attachment_handle_img quicklookable" /&gt; Deep Constraints to Companions of eps Eri and Vega&lt;br class="" /&gt;&lt;/div&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/e6631/Kenworthy2009.pdf.png" alt="Download file &amp;quot;Kenworthy2009.pdf&amp;quot;" title="Download file &amp;quot;Kenworthy2009.pdf&amp;quot;" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/e6631/Kenworthy2009.pdf" class="attachment_handle_img quicklookable" /&gt; Constraints to inner companions for Fomalhaut&lt;br class="" /&gt;&lt;/div&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/32399/Mamajek2010.pdf.png" alt="Download file &amp;quot;Mamajek2010.pdf&amp;quot;" title="Download file &amp;quot;Mamajek2010.pdf&amp;quot;" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/32399/Mamajek2010.pdf" class="attachment_handle_img quicklookable" /&gt; Discovery of Faint Alcor companion&lt;br class="" /&gt;&lt;/div&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/d73bf/Heinze2010a.pdf.png" alt="Download file &amp;quot;Heinze2010a.pdf&amp;quot;" title="Download file &amp;quot;Heinze2010a.pdf&amp;quot;" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/d73bf/Heinze2010a.pdf" class="attachment_handle_img quicklookable" /&gt;Observational Results from 50 star FGK type survey&lt;br class="" /&gt;&lt;/div&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/cc73a/Heinze2010b.pdf.png" alt="Download file &amp;quot;Heinze2010b.pdf&amp;quot;" title="Download file &amp;quot;Heinze2010b.pdf&amp;quot;" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/cc73a/Heinze2010b.pdf" class="attachment_handle_img quicklookable" /&gt; Constraints on planets from 50 star survey&lt;br class="" /&gt;&lt;/div&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/69c1e/Hinz2010.pdf.png" alt="Download file &amp;quot;Hinz2010.pdf&amp;quot;" title="Download file &amp;quot;Hinz2010.pdf&amp;quot;" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/69c1e/Hinz2010.pdf" class="attachment_handle_img quicklookable" /&gt; L' and 3.3 um imaging of HR 8799&lt;/div&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/8708a/Currie2010.pdf.png" alt="Download file &amp;quot;Currie2010.pdf&amp;quot;" title="Download file &amp;quot;Currie2010.pdf&amp;quot;" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/8708a/Currie2010.pdf" class="attachment_handle_img quicklookable" /&gt; imaging of GJ 758&lt;br class="" /&gt;&lt;/div&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/8c441/Currie2011.pdf.png" alt="Download file &amp;quot;Currie2011.pdf&amp;quot;" title="Download file &amp;quot;Currie2011.pdf&amp;quot;" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/8c441/Currie2011.pdf" class="attachment_handle_img quicklookable" /&gt; Reanalysis of HR 8799 observations&lt;br class="" /&gt;&lt;/div&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/e0207/Rodigas2011.pdf.png" alt="Download file &amp;quot;Rodigas2011.pdf&amp;quot;" title="Download file &amp;quot;Rodigas2011.pdf&amp;quot;" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/e0207/Rodigas2011.pdf" class="attachment_handle_img quicklookable" /&gt; Constraints to planets around 14 Her&lt;br class="" /&gt;&lt;/div&gt;
&lt;div&gt;&lt;img src="/groups/clio2usermanual/wiki/welcome/attachments/324a5/Thalmann2011.pdf.png" alt="Download file &amp;quot;Thalmann2011.pdf&amp;quot;" title="Download file &amp;quot;Thalmann2011.pdf&amp;quot;" longdesc="/groups/clio2usermanual/wiki/welcome/attachments/324a5/Thalmann2011.pdf" class="attachment_handle_img quicklookable" /&gt; Constraints to companions of Sirius&lt;br class="" /&gt;&lt;/div&gt;&lt;br class="" /&gt;</string>
	<key>createdDate</key>
	<string>2014-04-16 02:45:16.631471+00:00</string>
	<key>deleted</key>
	<false/>
	<key>disabled</key>
	<integer>0</integer>
	<key>edited</key>
	<true/>
	<key>entityPath</key>
	<string>groups/clio2usermanual</string>
	<key>kind</key>
	<string>wiki</string>
	<key>lastModifiedAuthor</key>
	<string>ktmorz</string>
	<key>lastRelatedActivityAuthor</key>
	<string>ktmorz</string>
	<key>lastRelatedActivityDate</key>
	<string>2014-04-16 02:58:53</string>
	<key>lastVersion</key>
	<string>5</string>
	<key>latestVersion</key>
	<string>4</string>
	<key>modifiedDate</key>
	<date>2014-04-16T02:59:25Z</date>
	<key>tags</key>
	<array>
		<string></string>
	</array>
	<key>title</key>
	<string>Historical Pages</string>
	<key>tombstoned</key>
	<false/>
	<key>uid</key>
	<string>groups/clio2usermanual/wiki/5c677</string>
	<key>versioned</key>
	<integer>1</integer>
</dict>
</plist>
