<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>ktmorz</string>
	<key>authorLongName</key>
	<string>Katie Morzinski</string>
	<key>commentUID</key>
	<string>groups/clio2usermanual/discussion/adbd4</string>
	<key>content</key>
	<string>

&lt;h1&gt;clio_20141125_26&lt;/h1&gt;

&lt;div&gt; 
 &lt;h2&gt;FITS Files:&lt;/h2&gt;&lt;/div&gt;

&lt;div&gt; 
 &lt;h2&gt;File Listing:&lt;/h2&gt;&lt;/div&gt;

&lt;div&gt;Get this table as a text file:&lt;/div&gt;

&lt;table class="data __useTableEditor"&gt;&lt;tbody&gt;
  &lt;tr&gt;
    
   &lt;th&gt;TimeStamp &lt;/th&gt;
    
   &lt;th&gt; FileName &lt;/th&gt;
    
   &lt;th&gt; Filter &lt;/th&gt;
    
   &lt;th&gt; Camera &lt;/th&gt;
    
   &lt;th&gt; Nx &lt;/th&gt;
    
   &lt;th&gt; Ny &lt;/th&gt;
    
   &lt;th&gt; Nz &lt;/th&gt;
    
   &lt;th&gt; Int [ms] &lt;/th&gt;
    
   &lt;th&gt; Number of Coadds &lt;/th&gt;
    
   &lt;th&gt; Counts per Coadd &lt;/th&gt;
    
   &lt;th&gt; Detector Temp [K] &lt;/th&gt;
    
   &lt;th&gt; Optics Temp [K]&lt;/th&gt;
    
  &lt;/tr&gt;

  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:30:06 &lt;/td&gt;
    
   &lt;td&gt; LskyWide00001 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Wide &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 62548 &lt;/td&gt;
    
   &lt;td&gt; 53.2480 &lt;/td&gt;
    
   &lt;td&gt; 77.9460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:30:07 &lt;/td&gt;
    
   &lt;td&gt; LskyWide00002 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Wide &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 62590 &lt;/td&gt;
    
   &lt;td&gt; 53.2480 &lt;/td&gt;
    
   &lt;td&gt; 77.9460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:30:08 &lt;/td&gt;
    
   &lt;td&gt; LskyWide00003 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Wide &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 62617 &lt;/td&gt;
    
   &lt;td&gt; 53.2480 &lt;/td&gt;
    
   &lt;td&gt; 77.9460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:30:09 &lt;/td&gt;
    
   &lt;td&gt; LskyWide00004 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Wide &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 62632 &lt;/td&gt;
    
   &lt;td&gt; 53.2480 &lt;/td&gt;
    
   &lt;td&gt; 77.9460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:30:10 &lt;/td&gt;
    
   &lt;td&gt; LskyWide00005 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Wide &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 62642 &lt;/td&gt;
    
   &lt;td&gt; 53.2480 &lt;/td&gt;
    
   &lt;td&gt; 77.9460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:44:08 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00001 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 13028 &lt;/td&gt;
    
   &lt;td&gt; 53.2220 &lt;/td&gt;
    
   &lt;td&gt; 77.9570 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:44:09 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00002 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 13069 &lt;/td&gt;
    
   &lt;td&gt; 53.2220 &lt;/td&gt;
    
   &lt;td&gt; 77.9570 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:44:10 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00003 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 13095 &lt;/td&gt;
    
   &lt;td&gt; 53.2220 &lt;/td&gt;
    
   &lt;td&gt; 77.9570 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:44:11 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00004 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 13112 &lt;/td&gt;
    
   &lt;td&gt; 53.2220 &lt;/td&gt;
    
   &lt;td&gt; 77.9570 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:44:12 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00005 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 13123 &lt;/td&gt;
    
   &lt;td&gt; 53.2220 &lt;/td&gt;
    
   &lt;td&gt; 77.9570 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:44:13 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00006 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 13128 &lt;/td&gt;
    
   &lt;td&gt; 53.2220 &lt;/td&gt;
    
   &lt;td&gt; 77.9570 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:44:14 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00007 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 13113 &lt;/td&gt;
    
   &lt;td&gt; 53.2220 &lt;/td&gt;
    
   &lt;td&gt; 77.9570 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:44:15 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00008 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 13121 &lt;/td&gt;
    
   &lt;td&gt; 53.2220 &lt;/td&gt;
    
   &lt;td&gt; 77.9570 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:44:16 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00009 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 13126 &lt;/td&gt;
    
   &lt;td&gt; 53.2220 &lt;/td&gt;
    
   &lt;td&gt; 77.9570 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:44:17 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00010 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 13129 &lt;/td&gt;
    
   &lt;td&gt; 53.2220 &lt;/td&gt;
    
   &lt;td&gt; 77.9570 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:00 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00011 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 18799 &lt;/td&gt;
    
   &lt;td&gt; 0.00000 &lt;/td&gt;
    
   &lt;td&gt; 0.00000 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:01 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00012 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 18845 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:02 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00013 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 18866 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:04 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00014 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 18881 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:05 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00015 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 18887 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:06 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00016 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 18893 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:07 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00017 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 18893 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:08 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00018 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 18880 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:10 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00019 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 18888 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:11 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00020 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 18888 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:41 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00021 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 23921 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:43 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00022 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 23979 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:44 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00023 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 23998 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:45 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00024 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 24011 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:47 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00025 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 24015 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:48 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00026 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 24005 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:50 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00027 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 24011 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:51 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00028 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 24011 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:52 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00029 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 24014 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:45:54 &lt;/td&gt;
    
   &lt;td&gt; LskyNarrow00030 &lt;/td&gt;
    
   &lt;td&gt; MKOL' &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 24014 &lt;/td&gt;
    
   &lt;td&gt; 53.2230 &lt;/td&gt;
    
   &lt;td&gt; 77.9560 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:15 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00001 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5502 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:17 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00002 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5534 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:18 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00003 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5551 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:19 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00004 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5559 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:21 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00005 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5564 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:22 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00006 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5557 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:24 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00007 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5562 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:25 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00008 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5563 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:26 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00009 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5565 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:28 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00010 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 700 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5559 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:37 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00011 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5497 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:38 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00012 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5532 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:39 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00013 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5550 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:40 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00014 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5562 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:41 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00015 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5570 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:42 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00016 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5573 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:44 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00017 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5567 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:45 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00018 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5572 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:46 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00019 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5574 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:47 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00020 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 500 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5574 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:55 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00021 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5503 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:56 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00022 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5541 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:57 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00023 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5566 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:58 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00024 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5582 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:47:59 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00025 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5593 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:48:00 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00026 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5600 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:48:01 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00027 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5588 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:48:02 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00028 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5596 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.9300 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:48:03 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00029 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5602 &lt;/td&gt;
    
   &lt;td&gt; 0.00000 &lt;/td&gt;
    
   &lt;td&gt; 0.00000 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-11-25T23:48:04 &lt;/td&gt;
    
   &lt;td&gt; LskyDark00030 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5604 &lt;/td&gt;
    
   &lt;td&gt; 53.2170 &lt;/td&gt;
    
   &lt;td&gt; 77.9570 &lt;/td&gt;
    
  &lt;/tr&gt;
&lt;/tbody&gt;&lt;/table&gt;
      
</string>
	<key>createdDate</key>
	<string>2015-01-14 20:04:04.379378+00:00</string>
	<key>deleted</key>
	<false/>
	<key>disabled</key>
	<integer>0</integer>
	<key>edited</key>
	<true/>
	<key>entityPath</key>
	<string>groups/clio2usermanual</string>
	<key>kind</key>
	<string>wiki</string>
	<key>lastModifiedAuthor</key>
	<string>ktmorz</string>
	<key>lastRelatedActivityAuthor</key>
	<string>ktmorz</string>
	<key>lastRelatedActivityDate</key>
	<string>2015-01-14 20:06:10</string>
	<key>lastVersion</key>
	<string>4</string>
	<key>latestVersion</key>
	<string>3</string>
	<key>modifiedDate</key>
	<date>2015-01-14T20:08:29Z</date>
	<key>tags</key>
	<array>
		<string></string>
	</array>
	<key>title</key>
	<string>Calibration Data clio_20141125_26</string>
	<key>tombstoned</key>
	<false/>
	<key>uid</key>
	<string>groups/clio2usermanual/wiki/adbd4</string>
	<key>versioned</key>
	<integer>1</integer>
</dict>
</plist>
