<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>ktmorz</string>
	<key>authorLongName</key>
	<string>Katie Morzinski</string>
	<key>commentUID</key>
	<string>groups/clio2usermanual/discussion/981d9</string>
	<key>content</key>
	<string>
&lt;h1&gt;clio_20141130_01&lt;/h1&gt;

&lt;div&gt; 
 &lt;h2&gt;FITS Files:&lt;/h2&gt;&lt;/div&gt;

&lt;div&gt; 
 &lt;h2&gt;File Listing:&lt;/h2&gt;&lt;/div&gt;

&lt;div&gt;Get this table as a text file:&lt;/div&gt;



&lt;table class="data __useTableEditor"&gt;&lt;tbody&gt;
  &lt;tr&gt;
    
   &lt;th&gt;TimeStamp &lt;/th&gt;
    
   &lt;th&gt; FileName &lt;/th&gt;
    
   &lt;th&gt; Filter &lt;/th&gt;
    
   &lt;th&gt; Camera &lt;/th&gt;
    
   &lt;th&gt; Nx &lt;/th&gt;
    
   &lt;th&gt; Ny &lt;/th&gt;
    
   &lt;th&gt; Nz &lt;/th&gt;
    
   &lt;th&gt; Int [ms] &lt;/th&gt;
    
   &lt;th&gt; Number of Coadds &lt;/th&gt;
    
   &lt;th&gt; Counts per Coadd &lt;/th&gt;
    
   &lt;th&gt; Detector Temp [K] &lt;/th&gt;
    
   &lt;th&gt; Optics Temp [K]&lt;/th&gt;
    
  &lt;/tr&gt;

  &lt;tr&gt;
    
   &lt;td&gt;2014-11-30T22:22:44 &lt;/td&gt;
    
   &lt;td&gt; test00001 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5413 &lt;/td&gt;
    
   &lt;td&gt; 53.1780 &lt;/td&gt;
    
   &lt;td&gt; 77.8050 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:41 &lt;/td&gt;
    
   &lt;td&gt; Darks00001 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6118 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:41 &lt;/td&gt;
    
   &lt;td&gt; Darks00002 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6122 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:42 &lt;/td&gt;
    
   &lt;td&gt; Darks00004 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6128 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:42 &lt;/td&gt;
    
   &lt;td&gt; Darks00007 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6128 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:42 &lt;/td&gt;
    
   &lt;td&gt; Darks00006 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6124 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:42 &lt;/td&gt;
    
   &lt;td&gt; Darks00005 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6125 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:42 &lt;/td&gt;
    
   &lt;td&gt; Darks00003 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6123 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:43 &lt;/td&gt;
    
   &lt;td&gt; Darks00010 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6125 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:43 &lt;/td&gt;
    
   &lt;td&gt; Darks00009 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6131 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:43 &lt;/td&gt;
    
   &lt;td&gt; Darks00008 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 108 &lt;/td&gt;
    
   &lt;td&gt; 54 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 3 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6128 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:57 &lt;/td&gt;
    
   &lt;td&gt; Darks00011 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6045 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:58 &lt;/td&gt;
    
   &lt;td&gt; Darks00013 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6063 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:58 &lt;/td&gt;
    
   &lt;td&gt; Darks00012 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6055 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:59 &lt;/td&gt;
    
   &lt;td&gt; Darks00014 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6070 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:59 &lt;/td&gt;
    
   &lt;td&gt; Darks00016 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6080 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:22:59 &lt;/td&gt;
    
   &lt;td&gt; Darks00015 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6076 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:23:00 &lt;/td&gt;
    
   &lt;td&gt; Darks00018 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6088 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:23:00 &lt;/td&gt;
    
   &lt;td&gt; Darks00017 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6086 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:23:00 &lt;/td&gt;
    
   &lt;td&gt; Darks00019 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6093 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:23:01 &lt;/td&gt;
    
   &lt;td&gt; Darks00020 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 43 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6094 &lt;/td&gt;
    
   &lt;td&gt; 53.3970 &lt;/td&gt;
    
   &lt;td&gt; 77.8070 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:23:26 &lt;/td&gt;
    
   &lt;td&gt; Darks00021 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 5927 &lt;/td&gt;
    
   &lt;td&gt; 53.2970 &lt;/td&gt;
    
   &lt;td&gt; 77.8420 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:23:38 &lt;/td&gt;
    
   &lt;td&gt; Darks00022 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 5940 &lt;/td&gt;
    
   &lt;td&gt; 53.2970 &lt;/td&gt;
    
   &lt;td&gt; 77.8420 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:23:50 &lt;/td&gt;
    
   &lt;td&gt; Darks00023 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 5917 &lt;/td&gt;
    
   &lt;td&gt; 53.2970 &lt;/td&gt;
    
   &lt;td&gt; 77.8420 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:24:02 &lt;/td&gt;
    
   &lt;td&gt; Darks00024 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 5895 &lt;/td&gt;
    
   &lt;td&gt; 53.2970 &lt;/td&gt;
    
   &lt;td&gt; 77.8420 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:24:14 &lt;/td&gt;
    
   &lt;td&gt; Darks00025 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 5876 &lt;/td&gt;
    
   &lt;td&gt; 53.2970 &lt;/td&gt;
    
   &lt;td&gt; 77.8420 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:24:25 &lt;/td&gt;
    
   &lt;td&gt; Darks00026 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 5858 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8450 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:24:37 &lt;/td&gt;
    
   &lt;td&gt; Darks00027 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 5840 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8450 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:24:49 &lt;/td&gt;
    
   &lt;td&gt; Darks00028 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 5821 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8450 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:25:01 &lt;/td&gt;
    
   &lt;td&gt; Darks00029 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 5805 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8450 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:25:13 &lt;/td&gt;
    
   &lt;td&gt; Darks00030 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 280 &lt;/td&gt;
    
   &lt;td&gt; 20 &lt;/td&gt;
    
   &lt;td&gt; 5790 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8450 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:25:28 &lt;/td&gt;
    
   &lt;td&gt; Darks00031 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 1000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5908 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:25:29 &lt;/td&gt;
    
   &lt;td&gt; Darks00032 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 1000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5915 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:25:30 &lt;/td&gt;
    
   &lt;td&gt; Darks00033 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 1000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5920 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:25:32 &lt;/td&gt;
    
   &lt;td&gt; Darks00034 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 1000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5924 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:25:33 &lt;/td&gt;
    
   &lt;td&gt; Darks00035 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 1000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5923 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:25:34 &lt;/td&gt;
    
   &lt;td&gt; Darks00036 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 1000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5926 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:25:36 &lt;/td&gt;
    
   &lt;td&gt; Darks00037 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 1000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5929 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:25:37 &lt;/td&gt;
    
   &lt;td&gt; Darks00038 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 1000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5930 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:25:38 &lt;/td&gt;
    
   &lt;td&gt; Darks00039 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 1000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5929 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:25:40 &lt;/td&gt;
    
   &lt;td&gt; Darks00040 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 1000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5930 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:26:04 &lt;/td&gt;
    
   &lt;td&gt; Darks00041 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6117 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:26:14 &lt;/td&gt;
    
   &lt;td&gt; Darks00042 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6107 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:26:24 &lt;/td&gt;
    
   &lt;td&gt; Darks00043 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6098 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:26:35 &lt;/td&gt;
    
   &lt;td&gt; Darks00044 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6107 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:26:45 &lt;/td&gt;
    
   &lt;td&gt; Darks00045 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6105 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:26:55 &lt;/td&gt;
    
   &lt;td&gt; Darks00046 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6109 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:27:06 &lt;/td&gt;
    
   &lt;td&gt; Darks00047 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6113 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:27:16 &lt;/td&gt;
    
   &lt;td&gt; Darks00048 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6111 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8460 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:27:26 &lt;/td&gt;
    
   &lt;td&gt; Darks00049 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6110 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8400 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:27:36 &lt;/td&gt;
    
   &lt;td&gt; Darks00050 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 400 &lt;/td&gt;
    
   &lt;td&gt; 200 &lt;/td&gt;
    
   &lt;td&gt; 0 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 6115 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8400 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:28:53 &lt;/td&gt;
    
   &lt;td&gt; Darks00051 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 6 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5704 &lt;/td&gt;
    
   &lt;td&gt; 53.2960 &lt;/td&gt;
    
   &lt;td&gt; 77.8380 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:29:55 &lt;/td&gt;
    
   &lt;td&gt; Darks00052 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 6 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5703 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8340 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:30:57 &lt;/td&gt;
    
   &lt;td&gt; Darks00053 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 6 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5709 &lt;/td&gt;
    
   &lt;td&gt; 53.2970 &lt;/td&gt;
    
   &lt;td&gt; 77.8330 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:31:59 &lt;/td&gt;
    
   &lt;td&gt; Darks00054 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 6 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5716 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8330 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:33:01 &lt;/td&gt;
    
   &lt;td&gt; Darks00055 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 6 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5719 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8290 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:34:03 &lt;/td&gt;
    
   &lt;td&gt; Darks00056 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 6 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5718 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8280 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:35:06 &lt;/td&gt;
    
   &lt;td&gt; Darks00057 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 6 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5721 &lt;/td&gt;
    
   &lt;td&gt; 53.2980 &lt;/td&gt;
    
   &lt;td&gt; 77.8270 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:36:08 &lt;/td&gt;
    
   &lt;td&gt; Darks00058 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 6 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5723 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8260 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:37:10 &lt;/td&gt;
    
   &lt;td&gt; Darks00059 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 6 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5726 &lt;/td&gt;
    
   &lt;td&gt; 53.3010 &lt;/td&gt;
    
   &lt;td&gt; 77.8230 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:38:12 &lt;/td&gt;
    
   &lt;td&gt; Darks00060 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 6 &lt;/td&gt;
    
   &lt;td&gt; 10000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5727 &lt;/td&gt;
    
   &lt;td&gt; 53.2990 &lt;/td&gt;
    
   &lt;td&gt; 77.8230 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:39:28 &lt;/td&gt;
    
   &lt;td&gt; Darks00061 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 2 &lt;/td&gt;
    
   &lt;td&gt; 30000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5876 &lt;/td&gt;
    
   &lt;td&gt; 53.3010 &lt;/td&gt;
    
   &lt;td&gt; 77.8230 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:40:29 &lt;/td&gt;
    
   &lt;td&gt; Darks00062 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 2 &lt;/td&gt;
    
   &lt;td&gt; 30000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5848 &lt;/td&gt;
    
   &lt;td&gt; 53.3010 &lt;/td&gt;
    
   &lt;td&gt; 77.8220 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:41:30 &lt;/td&gt;
    
   &lt;td&gt; Darks00063 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 2 &lt;/td&gt;
    
   &lt;td&gt; 30000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5850 &lt;/td&gt;
    
   &lt;td&gt; 53.3020 &lt;/td&gt;
    
   &lt;td&gt; 77.8210 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:42:31 &lt;/td&gt;
    
   &lt;td&gt; Darks00064 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 2 &lt;/td&gt;
    
   &lt;td&gt; 30000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5848 &lt;/td&gt;
    
   &lt;td&gt; 53.3010 &lt;/td&gt;
    
   &lt;td&gt; 77.8170 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:43:32 &lt;/td&gt;
    
   &lt;td&gt; Darks00065 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 2 &lt;/td&gt;
    
   &lt;td&gt; 30000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5851 &lt;/td&gt;
    
   &lt;td&gt; 53.3020 &lt;/td&gt;
    
   &lt;td&gt; 77.8180 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:44:32 &lt;/td&gt;
    
   &lt;td&gt; Darks00066 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 2 &lt;/td&gt;
    
   &lt;td&gt; 30000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5855 &lt;/td&gt;
    
   &lt;td&gt; 53.3020 &lt;/td&gt;
    
   &lt;td&gt; 77.8170 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:45:33 &lt;/td&gt;
    
   &lt;td&gt; Darks00067 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 2 &lt;/td&gt;
    
   &lt;td&gt; 30000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5856 &lt;/td&gt;
    
   &lt;td&gt; 53.3020 &lt;/td&gt;
    
   &lt;td&gt; 77.8170 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:46:34 &lt;/td&gt;
    
   &lt;td&gt; Darks00068 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 2 &lt;/td&gt;
    
   &lt;td&gt; 30000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5860 &lt;/td&gt;
    
   &lt;td&gt; 53.3010 &lt;/td&gt;
    
   &lt;td&gt; 77.8150 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:47:35 &lt;/td&gt;
    
   &lt;td&gt; Darks00069 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 2 &lt;/td&gt;
    
   &lt;td&gt; 30000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5861 &lt;/td&gt;
    
   &lt;td&gt; 53.3040 &lt;/td&gt;
    
   &lt;td&gt; 77.8160 &lt;/td&gt;
   
  &lt;/tr&gt;
  &lt;tr&gt;
    
   &lt;td&gt;2014-12-01T09:48:36 &lt;/td&gt;
    
   &lt;td&gt; Darks00070 &lt;/td&gt;
    
   &lt;td&gt; Blocked &lt;/td&gt;
    
   &lt;td&gt; Narrow &lt;/td&gt;
    
   &lt;td&gt; 1024 &lt;/td&gt;
    
   &lt;td&gt; 512 &lt;/td&gt;
    
   &lt;td&gt; 2 &lt;/td&gt;
    
   &lt;td&gt; 30000 &lt;/td&gt;
    
   &lt;td&gt; 1 &lt;/td&gt;
    
   &lt;td&gt; 5863 &lt;/td&gt;
    
   &lt;td&gt; 53.3050 &lt;/td&gt;
    
   &lt;td&gt; 77.8150 &lt;/td&gt;
    
  &lt;/tr&gt;
&lt;/tbody&gt;&lt;/table&gt;
      
</string>
	<key>createdDate</key>
	<string>2015-01-14 20:46:45.155158+00:00</string>
	<key>deleted</key>
	<false/>
	<key>disabled</key>
	<integer>0</integer>
	<key>edited</key>
	<true/>
	<key>entityPath</key>
	<string>groups/clio2usermanual</string>
	<key>kind</key>
	<string>wiki</string>
	<key>lastModifiedAuthor</key>
	<string>ktmorz</string>
	<key>lastRelatedActivityAuthor</key>
	<string>ktmorz</string>
	<key>lastRelatedActivityDate</key>
	<string>2015-01-14 20:47:00</string>
	<key>lastVersion</key>
	<string>3</string>
	<key>latestVersion</key>
	<string>2</string>
	<key>modifiedDate</key>
	<date>2015-01-14T20:49:37Z</date>
	<key>tags</key>
	<array>
		<string></string>
	</array>
	<key>title</key>
	<string>Calibration Data clio_20141130_01</string>
	<key>tombstoned</key>
	<false/>
	<key>uid</key>
	<string>groups/clio2usermanual/wiki/981d9</string>
	<key>versioned</key>
	<integer>1</integer>
</dict>
</plist>
