<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>phinz</string>
	<key>authorLongName</key>
	<string>Phil Hinz</string>
	<key>commentUID</key>
	<string>groups/clio2usermanual/discussion/52ac4</string>
	<key>content</key>
	<string>
&lt;div class="wiki_entry"&gt; 
 &lt;p&gt; &lt;/p&gt; 
 &lt;h2 class="wiki_unbold"&gt;Filter Wheels&lt;/h2&gt; 
 &lt;div class="level2"&gt; 
  &lt;p&gt;There are two filter wheels in Clio placed just after the pupil stop. Each wheel is capable of holding 8 one inch filters. As of April 2014 the filter wheels contain the following filters. Listings below are listed in clockwise order from the home position, as seen from filter wheel 1.&lt;/p&gt; 
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;NOTE: The wheel positions are not the same as the motor positions. To move the motor in a script, see the scripting page for the correct command.&lt;/p&gt; 
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;span class="custom_forecolor_important"&gt;Last updated: 2015/05/04:&lt;/span&gt;&lt;/p&gt;&lt;/div&gt; 
 &lt;div class="secedit"&gt;&lt;/div&gt;&lt;a name="wheel_1"&gt;&lt;/a&gt;&lt;b&gt;Wheel 1 (motor 3)&lt;/b&gt; 
 &lt;div class="level3"&gt; 
  &lt;ol&gt;
    
   &lt;li&gt;Blocked&lt;/li&gt;
    
   &lt;li class="level1"&gt;MKO M’&lt;/li&gt;
    
   &lt;li class="level1"&gt;3.3 um filter (JDSU W03311-6E passband 3.12-3.53 um)&lt;/li&gt;
    
   &lt;li class="level1"&gt;Direct vision prism (narrow edge toward cold plate)&lt;/li&gt;
    
   &lt;li class="level1"&gt;3.1 um filter (JDSU N03095-8E)&lt;/li&gt;
    
   &lt;li class="level1"&gt;MKO L’&lt;/li&gt;
    
   &lt;li class="level1"&gt;3.9 micron filter (JDSU N039042-8E)&lt;/li&gt;
    
   &lt;li class="level1"&gt;PK50 long-wavelength (&amp;lt;2 um) blocker&lt;/li&gt;
    
  &lt;/ol&gt; 
  &lt;p&gt;&lt;/p&gt; 
  &lt;div class="page"&gt;&lt;b&gt;Wheel 2 (motor 4)&lt;/b&gt; 
   &lt;div class="level3"&gt; 
    &lt;ol&gt;
      
     &lt;li&gt;MKO J (Home)&lt;/li&gt;
      
     &lt;li class="level1"&gt;ND2 -- 0.1% transmissive ND (Janostech P/N FX90-0099)&lt;/li&gt;
      
     &lt;li class="level1"&gt; ND3 -- ~&amp;quot;4.4%&amp;quot; transmissive ND (Janostech P/N FX90-0098)&lt;/li&gt;
      
     &lt;li class="level1"&gt;Open&lt;/li&gt;
      
     &lt;li class="level1"&gt;Lspec (2.8-4.2um pass filter, for use with Prism)&lt;/li&gt;
      
     &lt;li class="level1"&gt;Brackett Gamma&lt;/li&gt;
      
     &lt;li class="level1"&gt;Barr Ks&lt;/li&gt;
      
     &lt;li class="level1"&gt;&amp;quot;MKO&amp;quot; H (from Asahi)&lt;/li&gt;
      
    &lt;/ol&gt; 
    &lt;p&gt;&lt;span class="custom_forecolor_emphasis"&gt;J, H, Ks, and BrGamma are used with PK50 to provide long-wavelength blockage.&lt;br class="" /&gt;&lt;/span&gt;&lt;/p&gt; 
    &lt;ol&gt;
      
    &lt;/ol&gt;&lt;span class="custom_forecolor_emphasis"&gt; &lt;/span&gt; 
    &lt;div&gt;&lt;br class="" /&gt;&lt;/div&gt; 
    &lt;div&gt; 
     &lt;table class="data __useTableEditor"&gt;&lt;thead&gt; 
       &lt;tr&gt;
         
        &lt;th&gt;Field Stop&lt;/th&gt;
         
        &lt;th&gt;Pupil Stop&lt;/th&gt;
         
        &lt;th&gt;FW1&lt;/th&gt;
         
        &lt;th&gt;FW2&lt;/th&gt;
         
        &lt;th&gt;Camera Lens&lt;/th&gt;
         
        &lt;th&gt;Collimator Lens&lt;/th&gt;
         
       &lt;/tr&gt;&lt;/thead&gt;&lt;tbody&gt; 
       &lt;tr&gt;
         
        &lt;td&gt;50um Pinhole&lt;/td&gt;
         
        &lt;td&gt;f/21.5&lt;/td&gt;
         
        &lt;td&gt;Open&lt;/td&gt;
         
        &lt;td&gt;MKO J&lt;/td&gt;
         
        &lt;td&gt;f/21.5&lt;/td&gt;
         
        &lt;td&gt;3/37.7&lt;/td&gt;
         
       &lt;/tr&gt; 
       &lt;tr&gt;
         
        &lt;td&gt;Open&lt;/td&gt;
         
        &lt;td&gt;M APP&lt;/td&gt;
         
        &lt;td&gt;MKO M'&lt;/td&gt;
         
        &lt;td&gt;0.1% ND2&lt;/td&gt;
         
        &lt;td&gt;Pupil Imaging&lt;/td&gt;
         
        &lt;td&gt;f/21.5&lt;/td&gt;
         
       &lt;/tr&gt; 
       &lt;tr&gt;
         
        &lt;td&gt;Narrow Slit&lt;/td&gt;
         
        &lt;td&gt;L APP&lt;/td&gt;
         
        &lt;td&gt;3.3um&lt;/td&gt;
         
        &lt;td&gt;4% ND3&lt;/td&gt;
         
        &lt;td&gt;f/37.7&lt;/td&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
       &lt;/tr&gt; 
       &lt;tr&gt;
         
        &lt;td&gt;Medium Slit&lt;/td&gt;
         
        &lt;td&gt;f/37.7&lt;/td&gt;
         
        &lt;td&gt;Prism&lt;/td&gt;
         
        &lt;td&gt;Open&lt;/td&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
       &lt;/tr&gt; 
       &lt;tr&gt;
         
        &lt;td&gt;Wide Slit&lt;/td&gt;
         
        &lt;td&gt;3 hole NRM&lt;/td&gt;
         
        &lt;td&gt;3.1um&lt;/td&gt;
         
        &lt;td&gt;Lspec&lt;/td&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
       &lt;/tr&gt; 
       &lt;tr&gt;
         
        &lt;td&gt;Rectrangle&lt;/td&gt;
         
        &lt;td&gt;6 hole NRM&lt;/td&gt;
         
        &lt;td&gt;MKO L'&lt;/td&gt;
         
        &lt;td&gt;Blocked&lt;/td&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
       &lt;/tr&gt; 
       &lt;tr&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
        &lt;td&gt;3.9um&lt;/td&gt;
         
        &lt;td&gt;Barr Ks&lt;/td&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
       &lt;/tr&gt; 
       &lt;tr&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
        &lt;td&gt;PK50&lt;/td&gt;
         
        &lt;td&gt;&amp;quot;MKO&amp;quot; H&lt;/td&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
        &lt;td&gt;&lt;br class="" /&gt;&lt;/td&gt;
         
       &lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/div&gt;&lt;/div&gt; 
   &lt;div class="secedit"&gt;&lt;/div&gt;&lt;/div&gt; 
  &lt;div class="clearer"&gt;&lt;/div&gt; 
  &lt;p&gt;&lt;/p&gt; 
  &lt;p&gt; &lt;/p&gt; 
  &lt;p&gt;&lt;img src="/groups/clio2usermanual/wiki/5293a/images/__thumbs__/e083a.png" name="/groups/clio2usermanual/wiki/5293a/images/e083a.png#792.4272005395148x612" title="" height="386" width="500" role="button" longdesc="/groups/clio2usermanual/wiki/5293a/images/e083a.png#792.4272005395148x612" alt="" class="aligncenter thumbnail" tabindex="0" /&gt;&lt;/p&gt; 
  &lt;p&gt;The associated text files for the filter transmission curves are in this tarball:&lt;/p&gt; 
  &lt;p&gt;&lt;img src="/groups/clio2usermanual/wiki/5293a/attachments/57d74/clio_filters_v3.tar.gz.png" alt="Download file &amp;quot;clio_filters_v3.tar.gz&amp;quot;" longdesc="/groups/clio2usermanual/wiki/5293a/attachments/57d74/clio_filters_v3.tar.gz" class="attachment_handle_img" title="Download file &amp;quot;clio_filters_v3.tar.gz&amp;quot;" /&gt;&lt;/p&gt; 
  &lt;p&gt;In Fall 2008, a 3.1-3.5 micron filter was added:&lt;/p&gt; 
  &lt;p&gt;&lt;img src="/groups/clio2usermanual/wiki/5293a/images/__thumbs__/d7f99.png" name="/groups/clio2usermanual/wiki/5293a/images/d7f99.png#842.1445341821383x612.643344137063" title="" longdesc="/groups/clio2usermanual/wiki/5293a/images/d7f99.png#842.1445341821383x612.643344137063" role="button" alt="" class="aligncenter thumbnail" tabindex="0" /&gt;&lt;br class="" /&gt;Around the same time, an Ice band filter was added:&lt;/p&gt; 
  &lt;p&gt;&lt;img src="/groups/clio2usermanual/wiki/5293a/images/__thumbs__/c935e.png" name="/groups/clio2usermanual/wiki/5293a/images/c935e.png#842.1445341821383x612.643344137063" title="" longdesc="/groups/clio2usermanual/wiki/5293a/images/c935e.png#842.1445341821383x612.643344137063" role="button" alt="" class="aligncenter thumbnail" tabindex="0" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;New H-band filter as of 2014/03/14: (From Asahi Spectra)&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;img src="/groups/clio2usermanual/wiki/5293a/attachments/2ec35/Clio2_H_2014.png.png" alt="Download file &amp;quot;Clio2_H_2014.png&amp;quot;" class="attachment_handle_img quicklookable" longdesc="/groups/clio2usermanual/wiki/5293a/attachments/2ec35/Clio2_H_2014.png" title="Download file &amp;quot;Clio2_H_2014.png&amp;quot;" /&gt;&lt;/p&gt; 
  &lt;p&gt;Data: &lt;img src="/groups/clio2usermanual/wiki/5293a/attachments/f29c5/H%20filter.xls.png" alt="Download file &amp;quot;H filter.xls&amp;quot;" class="attachment_handle_img quicklookable" longdesc="/groups/clio2usermanual/wiki/5293a/attachments/f29c5/H%20filter.xls" title="Download file &amp;quot;H filter.xls&amp;quot;" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;New PK-50 long-wavelength blocker as of 2014/03/25: We believe we have the 2-mm one. This filter curve is in the box of Clio filters spares in the LCO clean room.&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;img src="/groups/clio2usermanual/wiki/52ac4/images/__thumbs__/4aa51.JPG" name="/groups/clio2usermanual/wiki/52ac4/images/4aa51.JPG#2592x1936" title="" longdesc="/groups/clio2usermanual/wiki/52ac4/images/4aa51.JPG#2592x1936" role="button" alt="" class="aligncenter thumbnail" tabindex="0" /&gt;&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;Photo of Filter Wheel 1 as of 2012/08/22:&lt;/p&gt; 
  &lt;p&gt;&lt;img src="/groups/clio2usermanual/wiki/5293a/images/8a0ec.jpg" title="IMG_0088b.jpg" role="button" alt="Filter Wheel 1" class="alignleft" tabindex="0" /&gt;&lt;/p&gt; 
  &lt;p&gt;Clockwise from red arrow: MKO J, Blocked (for darks), Open (home), MKO M', Barr M, Direct vision prism, 3.1um, Barr L'.&lt;/p&gt; 
  &lt;p&gt;Dated Summer 2012.&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt;
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt;
  &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;span class="custom_forecolor_important"&gt;Historical Filter Information: 2014A-2014B:&lt;/span&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;b&gt;Wheel 1 (motor 3)&lt;/b&gt; &lt;/p&gt;
  &lt;div class="level3"&gt; 
   &lt;ol&gt;
     
    &lt;li&gt;Open (Home)&lt;/li&gt;
     
    &lt;li class="level1"&gt;MKO M’&lt;/li&gt;
     
    &lt;li class="level1"&gt;3.3 um filter (JDSU W03311-6E passband 3.12-3.53 um)&lt;/li&gt;
     
    &lt;li class="level1"&gt;Direct vision prism (narrow edge toward cold plate)&lt;/li&gt;
     
    &lt;li class="level1"&gt;3.1 um filter (JDSU N03095-8E)&lt;/li&gt;
     
    &lt;li class="level1"&gt;MKO L’&lt;/li&gt;
     
    &lt;li class="level1"&gt;3.9 micron filter (JDSU N039042-8E)&lt;/li&gt;
     
    &lt;li class="level1"&gt;PK50 long-wavelength (&amp;lt;2 um) blocker&lt;/li&gt;
     
   &lt;/ol&gt; 
   &lt;p&gt;&lt;/p&gt; 
   &lt;div class="page"&gt;&lt;b&gt;Wheel 2 (motor 4)&lt;/b&gt; 
    &lt;div class="level3"&gt; 
     &lt;ol&gt;
       
      &lt;li&gt;MKO J (Home)&lt;/li&gt;
       
      &lt;li class="level1"&gt;ND2 -- 0.1% transmissive ND (Janostech P/N FX90-0099)&lt;/li&gt;
       
      &lt;li class="level1"&gt;ND3 -- ~&amp;quot;4.4%&amp;quot; transmissive ND (Janostech P/N FX90-0098)&lt;/li&gt;
       
      &lt;li class="level1"&gt;Open&lt;/li&gt;
       
      &lt;li class="level1"&gt;Lspec (2.8-4.2um pass filter, for use with Prism)&lt;/li&gt;
       
      &lt;li class="level1"&gt;Blocked&lt;/li&gt;
       
      &lt;li class="level1"&gt;Barr Ks&lt;/li&gt;
       
      &lt;li class="level1"&gt;&amp;quot;MKO&amp;quot; H (from Asahi)&lt;/li&gt;
       
     &lt;/ol&gt; 
     &lt;p&gt;&lt;span class="custom_forecolor_emphasis"&gt;3.4 micron filter (JDSU N03401-6E) was removed 2014-03-27 and placed in storage in LCO clean room. BK7 windows also removed from JHKs slots 2014-03-27, so instead use JHKs with PK50 from 2014A on.&lt;br class="" /&gt;&lt;/span&gt;&lt;/p&gt; 
     &lt;div&gt;&lt;span class="custom_forecolor_emphasis"&gt;&lt;br class="" /&gt;&lt;/span&gt;&lt;/div&gt; 
     &lt;ol&gt;
       
     &lt;/ol&gt;&lt;span class="custom_forecolor_emphasis"&gt;&lt;/span&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
  &lt;p&gt;&lt;/p&gt; &lt;br class="" /&gt; 
  &lt;p&gt;&lt;span class="custom_forecolor_important"&gt;Historical Filter Information: Comm1 (2012B) and Comm2 (2013A) :&lt;/span&gt;&lt;/p&gt; 
  &lt;p&gt;&lt;b&gt;Wheel 1&lt;/b&gt; &lt;/p&gt; 
  &lt;ol&gt;
    
   &lt;li&gt;Open (home)&lt;/li&gt;
    
   &lt;li class="level1"&gt;MKO M’&lt;/li&gt;
    
   &lt;li class="level1"&gt;Barr M&lt;/li&gt;
    
   &lt;li class="level1"&gt;Direct vision prism (narrow edge toward cold plate)&lt;/li&gt;
    
   &lt;li class="level1"&gt;3.1 um filter (JDSU N03095-8E)&lt;/li&gt;
    
   &lt;li class="level1"&gt;MKO L’&lt;/li&gt;
    
   &lt;li class="level1"&gt;MKO J +uncoated 5mm thick BK7 window&lt;/li&gt;
    
   &lt;li class="level1"&gt;Blocked&lt;/li&gt;
    
  &lt;/ol&gt; &lt;b&gt;Wheel 2&lt;/b&gt; 
  &lt;ol&gt;
    
   &lt;li&gt;3.3 um filter (JDSU W03311-6E passband 3.12-3.53 um)&lt;/li&gt;
    
   &lt;li class="level1"&gt;0.1% transmissive ND (Janostech P/N FX90-0099)&lt;/li&gt;
    
   &lt;li class="level1"&gt; ~1% transmissive ND (Janostech P/N FX90-0098)&lt;/li&gt;
    
   &lt;li class="level1"&gt;Open&lt;/li&gt;
    
   &lt;li class="level1"&gt;3.4 micron filter (JDSU N03401-6E)&lt;/li&gt;
    
   &lt;li class="level1"&gt;3.9 micron filter (JDSU N039042-8E)&lt;/li&gt;
    
   &lt;li class="level1"&gt;Barr Ks+uncoated 5mm thick BK7 window&lt;/li&gt;
    
   &lt;li class="level1"&gt;Barr H + Thorlabs AR-coated 5mm thick BK7 window&lt;/li&gt;
    
  &lt;/ol&gt; 
  &lt;div&gt;&lt;br class="" /&gt;&lt;/div&gt;&lt;/div&gt; 
 &lt;p&gt;&lt;/p&gt;&lt;/div&gt;</string>
	<key>createdDate</key>
	<string>2012-11-29 00:49:12.660079+00:00</string>
	<key>deleted</key>
	<false/>
	<key>disabled</key>
	<integer>0</integer>
	<key>edited</key>
	<true/>
	<key>entityPath</key>
	<string>groups/clio2usermanual</string>
	<key>kind</key>
	<string>wiki</string>
	<key>lastModifiedAuthor</key>
	<string>ktmorz</string>
	<key>lastRelatedActivityAuthor</key>
	<string>ktmorz</string>
	<key>lastRelatedActivityDate</key>
	<string>2015-05-04 07:50:07</string>
	<key>lastVersion</key>
	<string>14</string>
	<key>latestVersion</key>
	<string>13</string>
	<key>modifiedDate</key>
	<date>2015-05-05T22:28:10Z</date>
	<key>tags</key>
	<array>
		<string></string>
	</array>
	<key>title</key>
	<string>Filters</string>
	<key>tombstoned</key>
	<false/>
	<key>uid</key>
	<string>groups/clio2usermanual/wiki/52ac4</string>
	<key>versioned</key>
	<integer>1</integer>
</dict>
</plist>
