<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>aweinberger</string>
	<key>authorLongName</key>
	<string>Alycia Weinberger</string>
	<key>commentUID</key>
	<string>groups/clio2usermanual/discussion/3f15c</string>
	<key>content</key>
	<string>
&lt;div class="wiki_entry"&gt; 
 &lt;h1&gt;How to do fast Star (i.e. PSF) Switching to Acquire PSF Stars&lt;br class="" /&gt;&lt;/h1&gt; 
 &lt;p&gt;This procedure is meant for times when you slew a small distance (&amp;lt; few degrees) to a comparison star.&lt;/p&gt; 
 &lt;p&gt; &lt;/p&gt; 
 &lt;ol&gt;
   
  &lt;li&gt;Observe your first target.&lt;/li&gt;
   
  &lt;li&gt;When finished, ask the AO operator to PAUSE the AO loop.&lt;/li&gt;
   
  &lt;li&gt;BEFORE moving the telescope to the new star, have the TO put the guide probe in and mark the location of the star in the guider field.&lt;/li&gt;
   
  &lt;li&gt;Slew to the new star, and ask the TO to put it on the marked location and then take out the guide probe.&lt;/li&gt;
   
  &lt;li&gt;Resume the AO loop (if the new star is a significantly different brightness than the first, AO changes will be necessary).&lt;/li&gt;
   
  &lt;li&gt;Tip: for good PSF subtraction, set the coadds for the PSF star = 1, so you get more images of the PSF. This will be useful for good PSF subtraction algorithms like PCA, where the more images you have in your library, the better the PSF matching.&lt;/li&gt;
   
 &lt;/ol&gt; 
 &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
 &lt;h1&gt;PSF switching directions for TO&lt;/h1&gt; 
 &lt;ol&gt;
   
  &lt;li&gt;After the AO loop is paused, put in the guide probe.&lt;/li&gt;
   
  &lt;li&gt;Move the box to the star location and mark the position.&lt;/li&gt;
   
  &lt;li&gt;Slew to the new target star.&lt;/li&gt;
   
  &lt;li&gt;Put the new star in the box/at the marked position.&lt;/li&gt;
   
  &lt;li&gt;Park the guider.&lt;/li&gt;
   
  &lt;li&gt;The AO operator can now resume the loop.&lt;/li&gt;
   
 &lt;/ol&gt; 
 &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
 &lt;p&gt;&lt;br class="" /&gt;&lt;/p&gt; 
 &lt;p&gt;-modified 2014/11/06 Katie Morzinski&lt;/p&gt; 
 &lt;ol&gt;
   
 &lt;/ol&gt; 
 &lt;p&gt;&lt;/p&gt;&lt;/div&gt;</string>
	<key>createdDate</key>
	<string>2013-04-11 21:11:35.280116+00:00</string>
	<key>deleted</key>
	<false/>
	<key>disabled</key>
	<integer>0</integer>
	<key>edited</key>
	<true/>
	<key>entityPath</key>
	<string>groups/clio2usermanual</string>
	<key>kind</key>
	<string>wiki</string>
	<key>lastModifiedAuthor</key>
	<string>ktmorz</string>
	<key>lastRelatedActivityAuthor</key>
	<string>ktmorz</string>
	<key>lastRelatedActivityDate</key>
	<string>2014-11-07 00:27:04</string>
	<key>lastVersion</key>
	<string>8</string>
	<key>latestVersion</key>
	<string>7</string>
	<key>modifiedDate</key>
	<date>2014-11-07T00:32:43Z</date>
	<key>tags</key>
	<array>
		<string></string>
	</array>
	<key>title</key>
	<string>PSF Stars</string>
	<key>tombstoned</key>
	<false/>
	<key>uid</key>
	<string>groups/clio2usermanual/wiki/3f15c</string>
	<key>versioned</key>
	<integer>1</integer>
</dict>
</plist>
